<% @brackets.each do |bracket| %>
	<div class="bracket">
		<h2>Bracket <%= bracket.count %></h2>
		<div class="main">
			<% bracket.matches.order("created_at asc").each do |match| %>
				<% @first = match.player_ids.first
						@second = match.player_ids.last
						@playerone = Player.find_by(id:@first)
						@playertwo = Player.find_by(id:@second)
				%>
				<div class="match">
					<div class="date">
						<h2>Match <%= match.count %></h2>
						<h3><%= match.matchDate.strftime('%I:%M %p') %></h3>
					</div>
					<div class="players">
						<div class="player">
							<%= link_to image_tag(@playerone.avatar.url(:medium), class: 'avatar'), profile_path(@playerone) %>
							<%= link_to @playerone.evetag, profile_path(@playerone) %>
						</div>
						<div class="vs">
							<h2>vs</h2>
						</div>
						<div class="player">
							<%= link_to image_tag(@playertwo.avatar.url(:medium), class: 'avatar'), profile_path(@playertwo) %>
							<%= link_to @playertwo.evetag, profile_path(@playertwo)%>
						</div>
					</div>
				</div>
			<% end %>
		</div>
		<div class="clear"></div>
	</div>
<% end %>


