<%= form_for @tournament, html:{ multipart: true } do |f| %>
  <% if @tournament.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tournament.errors.count, "error") %> prohibited this tournament from being saved:</h2>

      <ul>
      <% @tournament.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-xs-12 col-sm-8 col-sm-offset-2 landing">
    <div>
      <%= f.text_field :title, autofocus: true, :placeholder => "TOURNAMENT TITLE" %>
    </div>

    <div>
      <%= f.file_field :image %>
    </div>

    <div>
      <%= f.text_field :description, autofocus: true, :placeholder => "TOURNAMENT DESCRIPTION" %>
    </div>

    <div>
      <%= f.datetime_field :signUpDate, autofocus: true, :placeholder => "SIGN UP DEADLINE" %>
    </div>

    <div>
      <%= f.datetime_field :gameDate, autofocus: true, :placeholder => "TOURNAMENT DATE" %>
    </div>
    
    <div class="actions">
      <%= f.submit %>
    </div>
  </div>

<% end %>
