<div class="col-xs-12 col-sm-8 col-sm-offset-2 landing">

  <h1>Upcoming Tournaments</h1>

  <% @tournaments.each do |tournament| %>

  <div style="float:left; width: 33%;">
    <%= link_to tournament.title, tournament %>
  </div>

  <div style="float:left; width: 33%;">
    <%= link_to tournament.signUpDate, tournament %>
  </div>

  <div style="float:left; width: 33%;">
    <button> Sign Up</button>
  </div>  

  <% end %>

</div>



<table>
  <thead>
    <tr>
      <th>Tournament</th>
      <th>Description</th>
      <th>Sign Up Deadline</th>
      <th>Tournament Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tournaments.each do |tournament| %>
      <tr>
        <td><%= link_to tournament.title, tournament %></td>
        <td><%= tournament.description %></td>
        <td><%= tournament.signUpDate %></td>
        <td><%= tournament.gameDate %></td>
        <td><%= link_to 'Show', tournament %></td>
        <td><%= link_to 'Edit', edit_tournament_path(tournament) %></td>
        <td><%= link_to 'Destroy', tournament, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tournament', new_tournament_path %>
