<div class=" col-sm-10 col-sm-offset-1 landing">
  <h1>Upcoming Tournaments</h1>
  
  <table class="table">
    <tbody>
    <% @tournaments.each do |tournament| %>
      <tr>
        <td>
          <%= link_to tournament.title, tournament %>
        </td>
        <td>
          <%= tournament.signUpDate.strftime('%b %d') %>
        </td>
        <td>
          <% if player_signed_in? && current_player.try(:admin?)%>
            <%= link_to 'Edit', edit_tournament_path(tournament) %> |
            <%= link_to 'Destroy', tournament, method: :delete, data: { confirm: 'Are you sure?' } %> |
            <br>
            <%= link_to 'Initialize Matches', initialize_match_tournament_path(tournament), method: :put %> |      

            <%= link_to 'Ascend Matches' , ascend_tournament_path(tournament), method: :put %> |

            <%= link_to 'Declare Winner' , declare_winner_tournament_path(tournament), method: :put %>
          <% elsif player_signed_in? %>      
            <%= link_to 'Sign Up', activities_path(:tournament_id => tournament), :method => :post %>
          <% else %>
            <%= link_to 'Log In to Join', new_player_session_path %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
