<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @tournament.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @tournament.description %>
</p>

<p>
  <strong>Sign Up Date:</strong>
  <%= @tournament.signUpDate %>
</p>

<p>
  <strong>Tournament Date:</strong>
  <%= @tournament.gameDate %>
</p>

<%= link_to 'Edit', edit_tournament_path(@tournament) %> |
<%= link_to 'Back', tournaments_path %>
