<div class="col-xs-12 col-sm-10 col-sm-offset-1 landing">
	<h1><%= @tournament.title %></h1>

	<div style=" height: 400px; margin-top:20px">
		<%= image_tag @tournament.image.url, :style => 'display: block; width: 400px; height: auto; margin-left: auto; margin-right: auto;' %>
	</div>
	<h2><strong>Tournament Begins <%= @tournament.gameDate.strftime('%A, %b %d') %></strong></h2>
	<h3><%= @tournament.description %></h3>

	<h3>Sign up by <%= @tournament.signUpDate.strftime('%A, %b %d') %></h3>

	<% if player_signed_in? && current_player.try(:admin?)%>
		<button><%= link_to 'Edit This Tournament', edit_tournament_path(@tournament) %></button>
	<% else %>
		<button><%= link_to 'Join This Tournament', activities_path(:tournament_id => @tournament), :method => :post %></button>
	<% end %>
</div>

<% if @match.any? && @tournament.signUpDate.past? %>
	<%= render 'brackets/matches' %>
<% else %>
	<div class="col-xs-12 col-sm-10 col-sm-offset-1 landing">	
		<% if @activities.any? %>
			<h1>Upcoming Players</h1>
				<% @activities.each do |activity| %>
					<%= link_to activity.player.evetag, profile_path(activity.player) %> <br>
				<% end %>
			<% else %>
		<% end %>
	</div>
<% end %>