<p id="notice"><%= notice %></p>

<p>
  <strong>Game:</strong>
  <%= @tournament.game %>
</p>

<p>
  <strong>Point:</strong>
  <%= @tournament.point %>
</p>

<%= link_to 'Edit', edit_tournament_path(@tournament) %> |
<%= link_to 'Back', tournaments_path %>
