<div class=" col-sm-12 landing">
	<% if @tournament.nil? %>
		<h1>Tournmnaments Coming Soon</h1>
	<% else %>
		<div class="banner">
			<%= image_tag @tournament.image.url %>
		</div>		
	  <h1><%= link_to @tournament.title, @tournament %></h1>
	  <h3><%= @tournament.description %></h3>
	  <h2><strong> <%= @tournament.signUpDate %></strong></h2>
  <% end %>
	<% if player_signed_in? %>
		<button class="full"><%= link_to 'Sign Up', activities_path(:tournament_id => @tournament), :method => :post %></button>
	<% else %>
		<button class="full"><%= link_to 'Create an Account to Join', new_player_registration_path %></button>
	<% end %>
</div>
