<nav>
  <div class="container">
    <ul>
       <% if player_signed_in? &&  current_player.try(:admin?)%>
        <li><%= link_to 'View Tournaments', tournaments_path %>  </li>
        <li> | </li>
        <li><%= link_to 'New Tournament', new_tournament_path %><li>
        <li> | </li>
        <li><%= link_to "Log out", destroy_player_session_path, method: :delete %></li> 


       <% elsif player_signed_in? %>
        <li><%= link_to "Player Dashboard", dashboard_path %></li>
        <li> | </li>
        <li><%= link_to "View Tournaments", tournaments_path %></li>
        <li> | </li>
        <li><%= link_to "Log out", destroy_player_session_path, method: :delete %></li>
      

      <% else %>
        <li><%= link_to "View Upcoming Tournaments", tournaments_path %></li>
        <li> | </li>
        <li><%= link_to "Create an Account", new_player_registration_path %></li>
        <li> | </li>
        <li><%= link_to "Log In", new_player_session_path %></li>
      <% end %>
        <%= link_to image_tag("sglhex.png", :alt => "Sovereign Gaming League"), root_path %>
      
    </ul>
  </div>
</nav>

